@import "node_modules/susy/sass/susy";
@import "globals";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $text-color;
  font-family: $font;
  font-size: $font-size;

  &.non-scrollable {
    overflow: hidden;
  }
}

a, a:visited, a:hover {
  color: $link-color;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: $hover-link-color;
}

.container {
  @include container;
  height: 100%;
}

.sidebar {
  position: fixed;
  @include span(2);
  height: 100%;
  overflow-y: auto;

  @include susy-media(rem-calc(0) rem-calc($svga)){
    @include span(6);
    display: none;
  };
}

.content {
  @include span(10 last);
  min-height: 100%;
  z-index: 1;
  box-shadow: rem-calc(-2 0 6 0) rgba(0, 0, 0, 0.25);

  @include susy-media(rem-calc(0) rem-calc($svga)){
    @include span(12);
  };
}

#content {
  padding: rem-calc(20);
}

.module {
  border: 0;
  margin: 0;
}

@import "table";
@import "buttongroup";
@import "sidebar";
@import "top";
@import "forms";
@import "messages";
@import "changelist";
@import "changeform";
@import "delete";
@import "login";
@import "content";
@import "dashboard";
@import "relatedpopup";
