@import "globals";

.button-group {
  margin: 0;
  line-height: normal;

  &-buttons {
    span, a {
      padding: rem-calc(6 10);
      display: inline-block;

      &:first-child {
        border-radius: rem-calc(4 0 0 4);
      }

      &:last-child {
        border-radius: rem-calc(0 4 4 0);
      }

      &:first-child:last-child {
        border-radius: rem-calc(4);
      }
    }

    span {
      background-color: $button-active-background-color;
      color: $button-active-text-color;
    }

    a {
      &, &:visited, &:hover {
        background-color: $button-background-color;
        color: $button-text-color;
        text-decoration: none;
      }

      &:hover {
        background-color: $button-hover-background-color;
        color: $button-hover-text-color;
      }
    }
  }

  &-label {
    margin-right: rem-calc(10);
  }
}