@import "node_modules/susy/sass/susy";
@import "globals";

.sidebar {
  background-color: $sidebar-background-color;
  @include transition(background-color $transitions-duration);

  &-branding {
    // header{
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    &-site-name {
      background-color: rgba(0, 0, 0, 0.28);
      padding: rem-calc(16 0);
      margin: 0 auto;
      // margin: 0 -8%;
      font-size: rem-calc(25);
      letter-spacing: rem-calc(4);
    }
    &-time {
      background-color: rgba(170, 170, 170, 0.3);
      text-align: right;
      margin: 0 auto;
      // margin: 0 -8%;
      padding: rem-calc(6 12);
    }
    span {
      display: block;
      // float: right;
      // font-size: rem-calc(12);
      margin: rem-calc(6);

      &:before {
        margin-right: rem-calc(10);
      }
    }
  }

  &-menu {
    @extend .clear-list;
    margin-bottom: rem-calc(32) !important;

    &-wrapper {
      overflow: hidden;
      // height: 100%;
      position: relative;
    }

    &-item {
      padding: rem-calc(20 24);
      border-bottom: rem-calc(1) solid $sidebar-contrast-background-color;
      @include transition(border-bottom-color $transitions-duration);

      &:last-child {
        border-bottom: 0;
      }

      &.no-horizontal-padding {
        padding-left: 0;
        padding-right: 0;
      }

      &-icon {
        font-size: rem-calc(18);
        vertical-align: middle;
        margin-right: rem-calc(6);
        color: $sidebar-icon-color;
        @include transition(color $transitions-duration);
      }

      &-link {
        &, &:visited, &:hover {
          color: $sidebar-link-color;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
          display: inline-block;
          box-sizing: border-box;
          @include transition(color $transitions-duration);
        }

        &:hover {
          color: $sidebar-hover-link-color;
        }
      }

      &-title {
        color: $sidebar-text-color;
        text-transform: uppercase;
        font-size: rem-calc(11);
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: rem-calc(0 14 0 24);
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        @include transition(color $transitions-duration);

        &-icon {
          float: right;
          font-size: rem-calc(14);
          font-weight: bold !important;

          &, &:visited, &:hover {
            color: $sidebar-title-action-color;
            @include transition(color $transitions-duration);
          }

          &:hover {
            color: $sidebar-hover-title-action-item-color;
          }
        }
      }

      &-link {
        &, &:visited, &:hover {
          color: $sidebar-text-color;
          text-transform: uppercase;
          font-size: rem-calc(12);
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: rem-calc(0 24);
          @include transition(color $transitions-duration);
        }

        &:hover {
          color: $sidebar-hover-title-action-item-color;
        }
      }

      &-action {
        &, &:visited, &:hover {
          display: block;
          color: $sidebar-action-color;
          font-size: rem-calc(12);
          text-align: center;
          margin-top: rem-calc(10);
          padding: rem-calc(8 0);
          text-transform: uppercase;
          @include transition(color $transitions-duration, background-color $transitions-duration);
        }

        &:hover {
          color: $sidebar-hover-action-color;
          background-color: $sidebar-hover-background-color;
        }
      }

      &-list {
        @extend .clear-list;

        .sidebar-menu-item-title + &:not(:empty), .sidebar-menu-item-link + &:not(:empty) {
          margin-top: rem-calc(10) !important;
        }

        &-item {
          &.empty {
            display: none;
          }

          &-icon {
            font-size: rem-calc(18);
            vertical-align: middle;
            margin-right: rem-calc(6);
            color: $sidebar-icon-color;
            @include transition(color $transitions-duration);
          }

          &.compact &-icon {
            font-size: rem-calc(16);
          }

          &-link {
            &, &:visited, &:hover {
              display: block;
              color: $sidebar-link-color;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding: rem-calc(8 12 8 24);
              vertical-align: middle;
              position: relative;
              @include transition(color $transitions-duration, background-color $transitions-duration);
            }

            &:hover, &.hovered {
              color: $sidebar-hover-link-color;
              background-color: $sidebar-hover-background-color;
            }

            &-edit, &-remove {
              &, &:visited, &:hover {
                position: relative;
                float: right;
                display: none;
                color: $sidebar-action-color;
                @include transition(color $transitions-duration);
              }

              &:hover {
                color: $sidebar-hover-action-color;
              }
            }

            &-pin, &-unpin {
              &, &:visited, &:hover {
                position: absolute;
                display: none;
                left: rem-calc(4);
                font-size: rem-calc(14);
                color: $sidebar-action-color;
                @include transition(color $transitions-duration);
              }

              &:hover {
                color: $sidebar-hover-action-color;
              }
            }

            &:hover &-remove {
              display: inline-block;
            }
          }

          &:not(.pinned):hover &-link-pin {
            display: inline-block;
          }

          &.pinned:hover &-link-unpin {
            display: inline-block;
          }

          &-arrow {
            float: right;
            color: $sidebar-arrow-color;
            font-size: rem-calc(16);
            font-weight: bold !important;
            margin-left: rem-calc(4);
            @include transition(color $transitions-duration);
          }

          &-link:hover &-arrow {
            color: $sidebar-hover-arrow-color;
          }
        }

        &.compact &-item-link {
          &, &:visited, &:hover {
            font-size: rem-calc(11);
            padding: rem-calc(6 12 6 24);
            text-transform: uppercase;
          }

          &.padding-icon {
            padding-left: rem-calc(50);
          }
        }
      }
    }
  }

  &-popup {
    @include span(2.4);
    position: absolute;
    top: 0;
    bottom: 0;
    color: $sidebar-popup-text-color;
    background-color: $sidebar-popup-background-color;
    overflow-y: auto;

    @include susy-media(rem-calc(0) rem-calc($mobile)){
      @include span(6.4);
    };

    &-container {
      display: none;
      background-color: transparentize($sidebar-popup-overlay-color, 0.5);
      position: fixed;
      top: 0;
      left: span(2);
      bottom: 0;
      right: 0;
      z-index: 3;

      @include susy-media(rem-calc(0) rem-calc($mobile)){
        @include span(6);
      };

    }

    &-item {
      display: none;
    }

    &-title {
      font-size: rem-calc(12);
      font-weight: bold;
      text-transform: uppercase;
      padding: rem-calc(20);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-search {
      @extend .base_input;
      @include placeholder {
        color: $sidebar-popup-search-input-placeholder-color;
      }
      background-color: $sidebar-popup-search-input-background-color;
      color: $sidebar-popup-search-input-text-color;
      border-radius: 0 !important;
      width: 100%;
      height: rem-calc(32);
      padding: 0 !important;
      text-indent: rem-calc(20);
      margin-bottom: rem-calc(12) !important;
    }

    &-list {
      @extend .clear-list;

      &-item {
        a, a:visited, a:hover {
          color: $sidebar-popup-link-text-color;
          padding: rem-calc(8 20);
          display: block;
        }

        &.selected a {
          background-color: $sidebar-popup-hover-link-background-color;
          color: $sidebar-popup-hover-link-color;
        }
      }
    }
  }

  &-copyright {
    // footer {
    // height: rem-calc(32);
    background-color: $sidebar-contrast-background-color;
    color: $sidebar-contrast-text-color;
    line-height: rem-calc(32);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: rem-calc(12);
    font-weight: bold;
    @include transition(background-color $transitions-duration, color $transitions-duration);
  }
}
