@import "../globals";

$input-height: 0 !default;

.select2-selection--single {
  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  .select2-selection__arrow {
    height: rem-calc(26);
    position: absolute;
    top: rem-calc(1);
    right: rem-calc(4);
    width: rem-calc(20);

    b:before {
      @include font-icon;
      color: $input-icon-color;
      font-size: rem-calc(20);
      content: $jet-arrow-down;
      line-height: rem-calc(32);
    }
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: rem-calc(1);
      right: auto;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    background-color: $input-contrast-background-color;
    cursor: default;

    .select2-selection__clear {
      display: none;
    }
  }
}