$jet-font-path: "../../../fonts/jet-icon" !default;
$jet-version: "1.0.0" !default;
$jet-css-prefix: jet !default;

$jet-open-external: "\e60e";
$jet-data: "\e60f";
$jet-new: "\e616";
$jet-grid: "\e619";
