$jet-font-path: "../../../fonts/jet-icon" !default;
$jet-font-size-base:   14px !default;
$jet-line-height-base: 1 !default;

$jet-css-prefix: jet !default;
$jet-version: "1.0.0" !default;
$jet-border-color:     #eee !default;
$jet-inverse:          #fff !default;
$jet-li-width:         (30em / 14) !default;

$jet-order: "\e901";
$jet-reset: "\e61e";
$jet-search: "\e61d";
$jet-user: "\e61c";
$jet-jet: "\e61b";
$jet-refresh: "\e61a";
$jet-grid: "\e619";
$jet-star: "\e618";
$jet-pin: "\e617";
$jet-new: "\e616";
$jet-edit: "\e615";
$jet-clock: "\e611";
$jet-calendar: "\e612";
$jet-book: "\e60d";
$jet-open-external: "\e60e";
$jet-data: "\e60f";
$jet-question: "\e613";
$jet-tick: "\e614";
$jet-cross: "\e610";
$jet-key: "\e60c";
$jet-arrow-right: "\e60b";
$jet-arrow-left: "\e60a";
$jet-arrow-down: "\e608";
$jet-arrow-up: "\e609";
$jet-checkbox-outline: "\e607";
$jet-remove: "\e600";
$jet-add2: "\e601";
$jet-exit: "\e602";
$jet-add: "\e603";
$jet-add3: "\e604";
$jet-expand: "\e605";
$jet-checkbox: "\e606";
