{% extends "admin/base.html" %}
{% load jet_tags %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 class="sidebar-branding-site-name">
        <span class="{% block branding-icon %}fa fa-home{% endblock %}" style="display: inline-block"></span>{{ site_title }}
    </h1>
    <h4 class="sidebar-branding-time">
        <span class="fa fa-calendar">{% jet_date %}</span>
        <span class="fa fa-clock-o" id="clock">{% jet_time %}</span>
    </h4>
{% endblock %}

{% block nav-global %}{% endblock %}
